alembic==1.6.2
click==7.1.2
fastapi==0.65.1
fastapi-migrations==0.0.4
FastAPI-SQLAlchemy==0.2.1
flake8==3.9.2
greenlet==1.1.0
h11==0.12.0
itsdangerous==2.0.0
Jinja2==3.0.0
Mako==1.1.4
MarkupSafe==2.0.0
mccabe==0.6.1
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
python-dateutil==2.8.1
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.15
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
Werkzeug==2.0.0