.task {
  border-radius: 0.5em;
  margin-bottom: 10px;
}

.task > ul {
  border-radius: 0.5em;
}

.icon {
  font-size: 18px !important;
}

.park {
  border-radius: 0.7em;
  padding: 1em;
  border-left-color: rgba(0, 0, 0, 0.3);
  border-right-color: rgba(0, 0, 0, 0.3);
  border-width: 12px;
  border-top-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  background-color: rgba(0, 51, 102, 0.8);
  box-shadow: 2px 2px 8px #000, 2px 2px 5px #000;
}

.park > div {
  color: #fff !important;
  border-bottom: 0px;
}

.white {
  color: #fff !important;
}

.cardgrid {
  width: 46%;
  margin: 2%;
  text-align: center;
  padding: 12px;
  background-color: rgba(0, 51, 102, 0.8);
  box-shadow: 2px 2px 8px #000, 2px 2px 5px #000;
}
.cardgrid > h5 {
  color: #fff !important;
}
